body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mainDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  background-color: #000;
  flex: 1 0 auto;
}

.links a, .links a:hover, .links a:active, .links a:visited, .links a:focus {
  text-decoration: none;
  color: inherit;
  padding: 50px;
  font-weight: bold;
}

.links {
  display: flex;
  justify-content: space-between;
  position: absolute;
  z-index: 3;
  color: #f1f1f1;
  width: 100%;
  padding-top: 20px;
}

.abrasionLogo {
  height: 70px;
  padding-left: 20px;
  padding-top: 30px;
}

.shop {
  padding-right: 75px;
  font-family: 'Lato', sans-serif;
}

.myVideo {
  position: relative;
  z-index: 1;
  width: 100%;
}

.videoOverlay {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  min-height: 100vh;
  min-width: 100vw;
  z-index: 2;
  position: absolute;
  font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
  font-size: 1.5em;
}

.play {
  cursor: pointer;
}

@media (min-width: 1000px) {
  .myVideo {
    min-width: 100vw;
  }

  .abrasionLogo {
    height: 150px;
    padding-left: 50px;
    padding-top: 0px;
  }

  .links a, .links a:hover, .links a:active, .links a:visited, .links a:focus {
    font-size: 3em;
  }
}
