body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mainDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  background-color: #000;
  background-image: url('../assets/hippieJumpChinatown.jpg');
  background-size: cover;
  background-position: 35% 50%;
  flex: 1 0 auto;
}

.links a, .links a:hover, .links a:active, .links a:visited, .links a:focus {
  text-decoration: none;
  color: inherit;
  padding: 50px 35px;
  font-weight: bold;
  font-size: 2em;
}

.links {
  display: flex;
  justify-content: space-between;
  position: absolute;
  z-index: 3;
  color: #f1f1f1;
  width: 100%;
  padding-top: 20px;
}

.abrasionLogo {
  height: 95px;
  padding-left: 20px;
  padding-top: 30px;
}

.shop {
  padding-right: 75px;
  font-family: 'Lato', sans-serif;
}

@media (min-width: 768px) {
  .abrasionLogo {
    height: 225px;
    padding-left: 50px;
    padding-top: 0px;
  }

  .links a, .links a:hover, .links a:active, .links a:visited, .links a:focus {
    font-size: 3em;
    padding: 60px 105px;
  }
}

@media (min-width: 1000px) {
  .links a, .links a:hover, .links a:active, .links a:visited, .links a:focus {
    font-size: 4em;
  }
}
